// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-box {
  width: 33%;
  float: left;
}

.category-post {
  margin-bottom: 10px;
  padding: 10px;
  background: #fefefe;
}

.post-date {
  color: #999;
}

.post-title {

}
