<% @cateogries.each do |category| %>
  <div class="category-box">
    <p><strong><%= link_to category.name, category_path(category) %></strong></p>

    <% if category.subcategories.count.positive? %>
      <% category.subcategories.limit([3,4,5].sample).each do |subcategory| %>
        <div class="subcat">
          <div class="subcat">
            <%= link_to subcategory.name, category_path(subcategory) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
