<p>
  <%= link_to "Home", root_path %>

  <% if @post.present? and @post.category.present?
    category = @post.category
  %>
    >> <%= link_to category.name, category_path(category) %>
    >> <%= @post.title %>
  <% elsif @category.present?
    category = @category.parent.present? ? @category.parent : @category
  %>
    >> <%= link_to category.name, category_path(category) %>
  <% end %>
</p>
